<form method="POST" action="">
    <div>
        名前：<input type="text"></input>
    </div>
    <div>
        <textarea name="msg" cols=100 rows=4>
        </textarea>
    </div>
        <input type="submit" value="送信できません">
</form>
{% if tweet_list %}
    <ul>
    {% for tweet in tweet_list %}
        <a href="/tweet/{{ tweet.id }}/">
            <p>名前：{{ tweet.owner_name}}</p>
            <p>{{ tweet.tweet_text}}</p>
        </a>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>つぶやきがありません</p>
{% endif %}