<form action="tweet" method="post">
    {% csrf_token %}
    <div>
        名前：<input type="text" name="owner_name"></input>
    </div>
    <div>
        <textarea name="tweet_text" cols=100 rows=4 required="required">
        </textarea>
    </div>
    <input type="submit" value="送信" />
</form>
{% if tweet_list %}
    <ul>
    {% for tweet in tweet_list %}
        <a href="/tweet/{{ tweet.id }}/">
            <p>名前：{{ tweet.owner_name }}</p>
            <p>{{ tweet.tweet_text }}</p>
            <div style="text-align:right;">
            <small>{{ tweet.pub_date }}</small>
            </div>
        </a>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>つぶやきがありません</p>
{% endif %}